{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing-section">
    <h1 class="home-landing-text">เกสต์เฮาส์บุปผาธารา</h1>
    <h6 class="home-landing-text">12/1 ซอย 4 ก. หลังตลาดประตูเชียงใหม่ ถนนพระปกเกล้า ตำบลพระสิงห์ อำเภอเมือง, เขตเมืองเก่า, เชียงใหม่, ไทย, 50200</h6>
    <p>
        <a class="button" href="{% url 'rooms' %}">ดูห้องพักทั้งหมด</a>
    </p>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">รูปภาพประกอบ</h4>
        <div class="grid grid-3">
            <div>
                <img class="image-block" src="{% static 'app_general/home-about4.jpg' %}">
                <p>รูปภาพห้องพัก</p>
            </div>
            <div>
                <img class="image-block" src="{% static 'app_general/home-about2.jpg' %}">
                <p>รูปภาพสระว่ายน้ำ</p>
            </div>
            <div>
                <img class="image-block" src="{% static 'app_general/home-about3.jpg' %}">
                <p>รูปภาพห้องนั่งเล่น</p>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">เกี่ยวกับเกสต์เฮาส์บุปผาธารา</a>
        </p>
    </div>
</section>
{% endblock %}