<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ห้องพักทั้งหมด | บุปผาธารา</title>
</head>
<body>
    <header style="background-color: lightgreen;">
        <a href="#">เกสต์เฮาส์บุปผาธารา</a>
        <a href="#">ห้องทั้งหมด</a>
        <a href="#">เกี่ยวกับ</a>
    </header>
    <div>
        <h2>ห้องพักของเรา</h2>
    </div>
    <footer style="background-color: lightgreen;">
        <h5>ช่องทางการติดต่อ</h5>
        <p>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </p>
    </footer>
</body>
</html>