{% extends 'app_general/components/base.html' %}

{% block site_title %}ห้องพักทั้งหมด | เกสต์เฮาส์บุปผาธารา{% endblock %}

{% block content %}
<div>
    <h2>ห้องพักทั้งหมด </h2>
    {% for room in rooms %}
        <div style="background-color: lightblue;">
            <h3><a href="{% url 'room' room.id %}">{{ room.title }}</a></h3>
            <p>{{ room.price }} บาท</p>
            {% if room.is_multiple_bed %}
                <p>ห้องนี้มีเตียงคู่</p>
            {% else %}
                <p>ห้องนี้มีเตียงเดี่ยว</p>
            {% endif %}
        </div>
    {% empty %}
        <p>ยังไม่มีข้อมูล</p>
    {% endfor %}
</div>
{% endblock %}